CompileFlags:
  Add:
    - -std=c++23
    - -Iextern/CommonLibF4/include
    - -Iextern/CommonLibF4/lib/commonlib-shared/include
    - -Isrc
    - -Iinclude
    - -Ibuild/FO4/vcpkg_installed/x64-windows-static-md-release/include
  Compiler: clang-cl
